In [2]:
import matplotlib.pyplot as plt
import scipy.constants as cons
import pandas as pd
import numpy as np
import scipy
import cmath
import time
import os

from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from qutip import *
from funcs import *

In [3]:
%matplotlib

Using matplotlib backend: TkAgg

In [160]:
# Reading in data from file
df1 = pd.read_csv('cubic_good2.csv')
#df1 = df1[df1.nmean < 6.05].sort_values('nmean')

df2 = pd.read_csv('inner_cubic_good3.csv')
df2 = df2[df2.nmean < 6.05].sort_values('nmean')

In [161]:
df1.describe()

,Wnorm,WLN,gamma,r,nmean,Ndim,xcount,ycount,time1,time2
count,3200.000000,3200.000000,3200.000000,3200.000000,3200.000000,3200.0,3200.0,3200.0,3200.000000,3200.000000
mean,1.000472,0.989194,0.500000,0.500000,7.731069,150.0,200.0,200.0,1.754168,4.910079
std,0.001203,0.610871,0.292352,0.296031,7.789432,0.0,0.0,0.0,1.454846,0.120861
min,0.998940,-0.000004,0.000000,0.000000,0.000000,150.0,200.0,200.0,1.128302,4.823785
25%,0.999970,0.484059,0.250000,0.250000,1.341244,150.0,200.0,200.0,1.163179,4.881386
50%,0.999995,0.958652,0.500000,0.500000,4.672017,150.0,200.0,200.0,1.173482,4.895764
75%,1.000000,1.510568,0.750000,0.750000,12.532228,150.0,200.0,200.0,2.286417,4.911712
max,1.008926,2.186501,1.000000,1.000000,30.288129,150.0,200.0,200.0,11.643558,6.636036

In [152]:
df2.describe()

,Wnorm,WLN,gamma,r,nmean,Ndim,xcount,ycount,time1,time2
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.0,1600.0,1600.0,1600.000000,1600.000000
mean,0.999846,1.643915,0.200000,1.000000,12.193998,150.0,200.0,200.0,2.117600,4.911900
std,0.000686,0.805175,0.118431,0.592154,9.170664,0.0,0.0,0.0,2.203424,0.027067
min,0.995503,-0.000004,0.000000,0.000000,0.000000,150.0,200.0,200.0,1.150311,4.826933
25%,0.999734,1.166452,0.100000,0.500000,4.444978,150.0,200.0,200.0,1.179811,4.894560
50%,0.999952,1.911036,0.200000,1.000000,10.593865,150.0,200.0,200.0,1.194688,4.910205
75%,0.999994,2.255106,0.300000,1.500000,18.648933,150.0,200.0,200.0,2.350146,4.925859
max,1.004607,2.733018,0.400000,2.000000,37.026208,150.0,200.0,200.0,20.033793,5.089711

In [158]:
# Reading out relavent columns
WLNs1 = np.array(df1.WLN)
WLNs2 = np.array(df2.WLN)

nmeans1 = np.array(df1.nmean)
nmeans2 = np.array(df2.nmean)

sqf1 = np.array(df1.r)
sqf2 = np.array(df2.r)

gamma1 = np.array(df1.gamma)
gamma2 = np.array(df2.gamma)

In [54]:
fig1, ax1 = my3dscatter(gamma1, sqf1, WLNs1, title='', axeslabels=['gamma', 'r', 'WLN'])

fig1.show()

In [159]:
fig2, ax2 = my3dscatter(gamma2, sqf2, WLNs2, title='', axeslabels=['gamma', 'r', 'WLN'])

fig2.show()

In [131]:
df2.describe()

,Wnorm,WLN,gamma,r,nmean,Ndim,xcount,ycount,time1,time2
count,479.000000,479.000000,479.000000,479.000000,479.000000,479.0,479.0,479.0,479.000000,479.000000
mean,0.999983,0.596704,0.100209,0.508752,2.111757,150.0,200.0,200.0,3.407245,4.907987
std,0.000027,0.530225,0.077122,0.392022,1.850194,0.0,0.0,0.0,2.617100,0.029742
min,0.999734,-0.000004,0.000000,0.000000,0.000000,150.0,200.0,200.0,1.150311,4.826933
25%,0.999979,0.063457,0.030769,0.205128,0.448392,150.0,200.0,200.0,1.251793,4.889471
50%,0.999989,0.487388,0.082051,0.410256,1.555061,150.0,200.0,200.0,2.368152,4.906135
75%,0.999998,1.058308,0.153846,0.769231,3.622908,150.0,200.0,200.0,3.579762,4.923879
max,1.000016,1.677370,0.287179,1.589744,6.042850,150.0,200.0,200.0,17.577046,5.081862

In [137]:
# Creating bins for nmean data
bins1 = np.arange(-0.05, 6.1, 0.1)
bins2 = np.arange(-0.05, 6.1, 0.1)

df1['bins'] = pd.cut(df1.nmean, bins1)
df2['bins'] = pd.cut(df2.nmean, bins2)

In [138]:
maxWLNs1 = []
for bin in np.unique(df1.bins):
    maxWLNs1.append(df1[df1.bins == bin].WLN.max())

In [139]:
maxWLNs2 = []
for bin in np.unique(df2.bins):
    maxWLNs2.append(df2[df2.bins == bin].WLN.max())

In [140]:
df1max = df1[df1.WLN.isin(maxWLNs1)]
df2max = df2[df2.WLN.isin(maxWLNs2)]

In [145]:
# Generate Data for Fock states
fnmeans = []
fWLNs = []
for i in range(1,7):
    fockstate = fock(10, i)
    fnmeans.append(expect(num(10), fockstate))
    fWLNs.append(wln(fockstate, 1e-5)[0])

In [146]:
plt.plot(df1max.nmean, df1max.WLN)
plt.plot(df2max.nmean, df2max.WLN)
plt.scatter(fnmeans, fWLNs)
plt.show()

In [147]:
df1max.describe()

,Wnorm,WLN,gamma,r,nmean,Ndim,xcount,ycount,time1,time2
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.0,61.0,61.0,61.000000,61.000000
mean,0.999970,0.845919,0.154389,0.766288,3.009982,150.0,200.0,200.0,2.550419,4.893442
std,0.000031,0.336735,0.049665,0.248383,1.754303,0.0,0.0,0.0,2.328452,0.023287
min,0.999842,0.015803,0.088608,0.025641,0.049192,150.0,200.0,200.0,1.146957,4.845227
25%,0.999961,0.625288,0.113924,0.666667,1.519967,150.0,200.0,200.0,1.165387,4.881344
50%,0.999979,0.933362,0.151899,0.846154,2.987725,150.0,200.0,200.0,2.297516,4.893212
75%,0.999991,1.121124,0.164557,0.948718,4.476873,150.0,200.0,200.0,2.327521,4.903260
max,0.999999,1.253392,0.291139,1.000000,5.985463,150.0,200.0,200.0,10.391853,4.965960

In [16]:
# rs = np.unique(np.array(df1.r))

# WLNarr1 = []
# nmeanarr1 = []
# for r in rs:
# #     WLNarr1.append(np.array(df1[df1.r > r-0.01][df1.r < r + 0.01].WLN))
#     WLNarr1.append(np.array(df1[df1.r == r].WLN))
#     nmeanarr1.append(np.array(df1[df1.r == r].nmean))

In [17]:
# rs = np.unique(np.array(df2.r))

# WLNarr2 = []
# for r in rs:
#     WLNarr2.append(np.array(df2[df2.r == r].WLN))

In [18]:
# WLNarr1 =np.array(WLNarr1)
# WLNarr2 =np.array(WLNarr2)
# nmeanarr1 = np.array(nmeanarr1)
# nmeanarr2 = np.array(nmeanarr2)